[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/pico-examples"]
	path = lib/pico-examples
	url = https://github.com/raspberrypi/pico-examples
